body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; /* 适当的底部内边距，确保内容不被footer遮挡 */
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

section th, section td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

section th {
    background-color: #333;
    color: #fff;
}


h1, h2 {
    color: brown;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
