<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全网视频播放服务</title>
</head>
<body>

<div id="app">
    <div class="liu-playContainer" v-show="ok">
        <button class="liu-closePlayer liu-btn" @click="closePlayer">
            Close Player
        </button>

        <div class="playSpace">
            <div class="artplayer-app"></div>
            <div class="series">
                <div class="seletor-title">选集</div>
                <div class="series-contianer">
                    <button
                            class="series-selector liu-btn"
                            :class="{'playing':index==playingIndex}"
                            style="color: #a3a3a3"
                            v-for="(item,index) in playingList"
                            :key="index"
                            @click="playListSelect(index)"
                    >
                        {{ item.name.slice(0,4) }}
                    </button>
                </div>
            </div>
        </div>

        <div class="sourceButtonList">
            <button
                    class="source-selector liu-btn"
                    v-for="(item,index) in sources"
                    :key="index"
                    :class="{'selected':index==selectedSource,'speed-fast':item.speed>1}"
                    @click="sourceSelect(index)"
            >
                {{ item.name }} {{ item.speed }} m/s
            </button>
        </div>

        <p class="authoralert">请不要相信视频中的广告！</p>
        <div class="mannul">
            <a class="love-support" style="text-decoration: #447006 wavy underline;" href="https://memos.babelgo.cn/m/1"
               target="_blank">☕赏作者喝一杯咖啡？</a>
            <a class="love-support" href="https://t.me/wzxhhgy" target="_blank">电报群</a>
            <a class="love-support"
               href="https://greasyfork.org/zh-CN/scripts/459540-%E6%88%91%E5%8F%AA%E6%83%B3%E5%A5%BD%E5%A5%BD%E8%A7%82%E5%BD%B1/feedback"
               target="_blank">👉反馈</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/artplayer@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@latest"></script>

<script>
    const _debug = 0; //@note debug
    const searchSource = [
        //@note 内置搜索源
        {
            name: "红牛资源",
            searchUrl: "https://www.hongniuzy2.com/api.php/provide/vod/from/hnm3u8/",
        },
        {
            name: "暴风资源",
            searchUrl: "https://bfzyapi.com/api.php/provide/vod/",
        },
        {
            name: "快帆资源",
            searchUrl: "https://api.kuaifan.tv/api.php/provide/vod/",
        },
        {
            name: "非凡资源",
            searchUrl: "http://cj.ffzyapi.com/api.php/provide/vod/",
        },
        {
            name: "量子资源",
            searchUrl: "https://cj.lziapi.com/api.php/provide/vod/",
        },
        {
            name: "ikun资源",
            searchUrl:
                "https://ikunzyapi.com/api.php/provide/vod/from/ikm3u8/at/json/",
        },
        {
            name: "光速资源",
            searchUrl: "https://api.guangsuapi.com/api.php/provide/vod/from/gsm3u8/",
        },
        {
            name: "高清资源",
            searchUrl: "https://api.1080zyku.com/inc/apijson.php/",
        },
        {
            name: "天空资源",
            searchUrl:
                "https://m3u8.tiankongapi.com/api.php/provide/vod/from/tkm3u8/",
        },
        {
            name: "闪电资源",
            searchUrl: "https://sdzyapi.com/api.php/provide/vod/",
        },
        {
            name: "索尼资源",
            searchUrl: "https://suoniapi.com/api.php/provide/vod/",
        },
    ];

    const {query: $, queryAll: $$, isMobile} = Artplayer.utils;
    const tip = (message) => alert(message);

    // 判断是否为 Edge 浏览器
    const isEdge = /Edge\/\d+/.test(navigator.userAgent);

    // 判断是否为 Chrome 浏览器
    const isChrome = /Chrome\/\d+/.test(navigator.userAgent) && !isEdge;

    // 判断是否为 Safari 浏览器
    const isSafari = /Safari\/\d+/.test(navigator.userAgent) && !isChrome;

    //--------------------------全局方法
    //获取豆瓣影片名称
    const videoName = "猎冰";

    // debug方法
    const log = (function () {
        if (_debug) return console.log.bind(console);
        return function () {
        };
    })();

    const htmlToElement = function (html) {
        //将html转为element
        const template = document.createElement("template");
        template.innerHTML = html.trim();
        return template.content.firstChild;
    };

    //速度为0不一定是无法播放，可能是源的防火墙阻止了测速，也可以试试。
    const handleResponse = function (response) {
        console.log("正在处理搜索的结果");
        if (!response) {
            console.log("返回结果错误,response is undefined");
            return {r: false};
        }
        if (response.list.length == 0) {
            console.log("没有搜索到结果");
            return {r: false};
        }
        let video, found = false;

        for (let item of response.list) {
            // 对比名称、发行年、演员，只要有一个一样就算成功
            let nameEqual = item.vod_name == videoName;
            let yearEqual = getVideoYear(item.vod_year);
            let actorContain = videoActor(item.vod_actor.split(",")[0]);

            if (yearEqual === true || actorContain === true || nameEqual === true) {
                video = item;
                found = true;
                console.log(`资源匹配成功`);
                break;
            }
        }
        if (found == false) {
            return {r: false};
        }

        let playList = video.vod_play_url
            .split("$$$")
            .filter((str) => str.includes("m3u8"));
        if (playList.length == 0) {
            throw new Error("没有m3u8资源, 无法测速, 无法播放");
            return {r: false};
        }
        playList = playList[0].split("#");
        playList = playList.map((str) => {
            let index = str.indexOf("$");
            return {
                name: str.slice(0, index),
                url: str.slice(index + 1),
                speed: -1,
            };
        });
        return {r: true, content: playList};
    };

    const playM3u8 = function (video, url, art) {
        if (Hls.isSupported()) {
            if (art.hls) art.hls.destroy();
            const hls = new Hls();
            hls.loadSource(url);
            hls.attachMedia(video);
            art.hls = hls;
            art.on("destroy", () => hls.destroy());
        } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
            video.src = url;
        } else {
            art.notice.show = "Unsupported playback format: m3u8";
        }
    };
    //获取电影的年份
    const getVideoYear = function (outYear) {
        const e = $(isMobile ? ".sub-original-title" : ".year");
        if (!e) {
            console.log("获取年份失败，请检查！");
            return 0;
        }
        return e.innerText.includes(outYear);
    };

    //对比电影演员
    const videoActor = function (outActor) {
        const e = $(isMobile ? ".bd" : ".actor");
        if (!e) {
            console.log("获取演员失败，请检查！");
            return 0;
        }
        //console.log(`${outActor}：匹配结果${e.innerText.includes(outActor)}`)
        return e.innerText.includes(outActor);
    };

    //下载
    const get = function (detail) {
        console.log("正在请求：");
        console.log(detail);

        return new Promise((resolve, reject) => {
            let xhr = new XMLHttpRequest();
            xhr.open(detail.method || "GET", detail.url, true);
            xhr.timeout = detail.timeout || 3000;

            xhr.onload = function () {
                resolve({r: true, content: xhr.response});
            };

            xhr.onerror = function () {
                console.log("get请求error" + detail.url);
                reject({r: false});
            };

            xhr.onabort = function () {
                console.log("get请求abort" + detail.url);
                reject({r: false});
            };

            xhr.ontimeout = function () {
                console.log("get请求timeout" + detail.url);
                reject({r: false});
            };

            // 设置 CORS 相关头部
            xhr.withCredentials = true; // 如果需要带上认证信息
            xhr.setRequestHeader('Content-Type', 'application/json'); // 设置请求头

            // You may need to handle other properties from detail here

            xhr.send();
        });
    };

    //下载m3u8的内容，返回片段列表
    const downloadtsList = async function (url) {
        let domain = url.split("/")[0];
        let baseUrl = url.split("/")[2];
        let result = await get({
            url: encodeURI(url),
        });

        if (!result.r) {
            return {r: false};
        }
        let downloadContent = result.content;

        if (!downloadContent.includes("#EXTM3U")) {
            console.log("无法获取m3u8内容，请求网址为：" + url);
            console.log("下载的内容为");
            console.log(downloadContent);
            return {r: false};
        }
        let tsList = [];
        if (downloadContent.includes(".m3u8")) {
            //如果还是m3u8地址
            let lines = downloadContent.split("\n");
            for (let item of lines) {
                if (/^[#\s]/.test(item)) continue; //跳过注释和空白行
                if (item == "") continue;
                if (/^\//.test(item)) {
                    //如果是相对链接的话
                    let result = await downloadtsList(domain + "//" + baseUrl + item);
                    if (!result.r) {
                        return {r: false};
                    }
                    tsList = result.content;
                } else if (/^https?:\/\//i.test(item)) {
                    //如果是绝对链接的话
                    let result = await downloadtsList(item);
                    if (!result.r) {
                        return {r: false};
                    }
                    tsList = result.content;
                } else {
                    //那就只剩下替代链接的情况了
                    console.log("m3u8替代情况");
                    console.log(item);
                    let contents = url.split("/");
                    contents[contents.length - 1] = item;
                    console.log(contents);
                    url = contents.join("/");
                    let result = await downloadtsList(url);
                    if (!result.r) {
                        return {r: false};
                    }
                    tsList = result.content;
                }
            }
            return {r: true, content: tsList};
        }
        if (downloadContent.includes(".ts")) {
            //如果是ts地址
            let lines = downloadContent.split("\n");
            for (let item of lines) {
                if (/^[#\s]/.test(item)) continue; //跳过注释和空白行
                if (item == "") continue;
                if (/^https?:\/\//i.test(item)) {
                    //如果是http直链
                    tsList.push(item);
                } else if (/^\//.test(item)) {
                    //如果是相对链接
                    tsList.push(domain + "//" + baseUrl + item);
                } else {
                    //如果不是相对链接就把index.m3u8替换掉就行
                    let contents = url.split("/");
                    contents[contents.length - 1] = item;
                    url = contents.join("/");
                    tsList.push(url);
                }
            }
            console.log(`测试列表为:`);
            console.log(tsList);
            return {r: true, content: tsList};
        }

        console.log("未知状况");
        console.log(downloadContent);
        return {r: false};
    };

    //构建vue的实例
    function initVue() {
        //@note initVue
        let vueInstance = new Vue({
            el: "#app",
            data: {
                //artplayer实例
                art: {},
                //标明是否搜到影片
                ok: false,
                //搜索源
                searchSource: searchSource,
                //标记正在下载的资源，好debug
                sourceTesting: "",

                //所有搜索到的资源 [{name:"..资源",playList:[{name:"第一集",url:""}]}]
                sources: [],
                //标记选择的源
                selectedSource: 0,
                //正在播放的选集总表
                playingList: [],
                //正在播放哪一集
                playingIndex: 0,
                //咖啡地址
                coffeeUrl: "https://memos.babelgo.cn/m/1",
                //telegram地址
                telegramUrl: "https://t.me/wzxhhgy",
                //greasyfork反馈地址
                feedbackUrl:
                    "https://greasyfork.org/zh-CN/scripts/459540-%E6%88%91%E5%8F%AA%E6%83%B3%E5%A5%BD%E5%A5%BD%E8%A7%82%E5%BD%B1/feedback",
            },
            methods: {
                //@note merge自定义源

                //测试速度
                async testSpeed() { //@note testSpeed
                    //this.sources //所有搜索到的资源 [{name:"..资源",playList:[{name:"第一集",url:""}]}]
                    await Promise.all(
                        this.sources.map(async (source, index) => {
                            try {
                                let name = source.name;
                                let url = source.playList[this.playingIndex].url;
                                console.log("开始测速：" + url)
                                let result = await downloadtsList(url);
                                // 如果无法获取index.m3u8 就直接无法测速
                                if (!result.r) {
                                    this.sources[index].speed = 0;
                                    this.$forceUpdate();
                                    return;
                                }
                                let tsList = result.content
                                console.log("downloadList")
                                console.log(tsList)
                                //随机选择8个切片下载
                                if (tsList.length > 10) {
                                    tsList = tsList.slice(0, 10)
                                } else {
                                    tsList = tsList.slice(0, tsList.length - 1)
                                }
                                let downloadSize = 0;
                                let startTime = Date.now();
                                console.log("将要测试的列表为：")
                                console.log(tsList)
                                for (let item of tsList) {

                                    let result = await get({
                                        url: encodeURI(item),
                                        responseType: "arraybuffer",
                                    });
                                    if (!result.r) {
                                        downloadSize += 0
                                    } else {
                                        let response = result.content;
                                        downloadSize += response.byteLength
                                            ? response.byteLength / 1024 / 1024
                                            : 0;
                                    }
                                }
                                let endTime = Date.now();
                                let duration = (endTime - startTime) / 1000;
                                let speed =
                                    downloadSize / duration ? downloadSize / duration : 0;
                                this.sources[index].speed = Number(speed.toFixed(2));
                                this.$forceUpdate();
                                console.log(`${name}的速度为${speed}mb/s`);
                            } catch (e) {
                                console.log(e);
                                this.sources[index].speed = 0;
                                this.$forceUpdate();
                            }
                        })
                    );
                },
                //选择源的按钮行为
                sourceSelect(index) {
                    let ct = this.art.currentTime;
                    this.selectedSource = index;
                    this.playingList = this.sources[index].playList;
                    this.switchUrl(this.playingList[this.playingIndex].url);
                    this.art.once("video:canplay", () => {
                        this.art.seek = ct;
                    });
                    this.testSpeed().then(() => {
                        console.log("测速完成！");
                    });
                },
                //选择剧集的按钮行为
                playListSelect(index) {
                    this.playingIndex = index;
                    //打印playlist
                    console.log(this.playingList);
                    this.switchUrl(this.playingList[this.playingIndex].url);
                },
                // 初始化Art播放器
                initArt(url) {
                    //@note initArt
                    this.art = new Artplayer({
                        container: ".artplayer-app",
                        url: url,
                        pip: true,
                        fullscreen: true,
                        fullscreenWeb: true,
                        autoMini: true,
                        screenshot: true,
                        hotkey: true,
                        airplay: true,
                        playbackRate: true,
                        setting: true,
                        miniProgressBar: true,
                        theme: "#00981a",
                        moreVideoAttr: {
                            crossOrigin: "anonymous",
                        },
                        controls: [
                            {
                                name: "resolution",
                                html: "分辨率",
                                position: "right",
                            },
                        ],
                        type: "m3u8",
                        customType: {
                            m3u8: playM3u8,
                        },
                        //   plugins: [artplayerPluginControl()],
                    });
                    this.art.on("video:loadedmetadata", () => {
                        this.art.controls.resolution.innerText =
                            this.art.video.videoHeight + "P";
                    });
                    console.log("初始化art实例完成，art:");
                    console.log(this.art);
                },
                //切换播放器的播放url
                switchUrl(url) {
                    this.art.switchUrl(url);
                    //兼容safari
                    if (this.art.video.src != url) {
                        this.art.video.src = url;
                    }
                },
                //关闭页面
                closePlayer() {
                    $("#app").remove();
                },

                async search(url) {
                    let splitVideoName = "";
                    if (videoName.length >= 3) {
                        splitVideoName = videoName.slice(0, 3);
                    } else {
                        splitVideoName = videoName;
                    }
                    console.log(`${url}?ac=detail&wd=${splitVideoName}`)
                    let result = await get({
                        url: encodeURI(`${url}?ac=detail&wd=${splitVideoName}`),
                        responseType: "json",
                        overrideMimeType: "application/json",
                    });
                    if (!result.r) {
                        return {r: false, content: "搜索时网络出现异常"}
                    }
                    let response = result.content
                    return {r: true, content: response};
                },
                //处理搜索到的结果:从返回结果中找到对应片子
            },
            async created() {
                //@note created
                //初始化时开始搜索所有资源, 初始化sources 数组
                //merge 用户添加的地址
                //this.mergeSource();
                //this.searchSource.forEach();
                await Promise.all(
                    this.searchSource.map(async (item) => {
                        //标记当前正在处理的资源
                        this.sourceTesting = item.name;
                        // search里自带解析函数，所以只要通过就说明搜索到了
                        let result = await this.search(item.searchUrl);
                        if (!result.r) {
                            return {r: false, content: "搜索出现异常"}
                        }
                        let response = result.content
                        result = handleResponse(response);
                        console.log("resutl => ")
                        console.log(result)
                        if (result.r) {
                            console.log(`${item.name} 搜到了`);
                            let playList = result.content
                            this.sources.push({name: item.name, playList});
                            if (this.ok == false) {
                                this.ok = true;
                                this.$forceUpdate();
                                this.playingList = playList;
                                this.initArt(this.playingList[0].url);
                            }
                        } else {
                            console.log(`${item.name}没找到`)
                        }
                    })
                );

                // 此时还不能检测是否已经搜索完毕，因为前面发的是async
                // 因为Safari的xmlhttp方法在失败时不会返回reject导致Promise一直等待，
                // 导致后面的代码无法执行,所以需要手动实现timeout机制
                // 结束以后ok还为false说明没搜索
                if (this.ok == true) {
                    //开始测速
                    if (isSafari) {
                        tip("很可惜，Safari浏览器存在严重Bug，所以测速功能工作不正常。");
                    }
                    console.log("开始测速")
                    await this.testSpeed();
                } else {
                    tip(
                        "未搜索到资源，可能是豆瓣的电影名称和资源站的名称不一致，请反馈电影名称。"
                    );
                    window.open(
                        "https://greasyfork.org/zh-CN/scripts/459540-%E6%88%91%E5%8F%AA%E6%83%B3%E5%A5%BD%E5%A5%BD%E8%A7%82%E5%BD%B1/feedback"
                    );
                }
            },
        });
    }

    initVue();
</script>

</body>
</html>
